body{
    background-color: lightyellow;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
ul{
    display: block;
    list-style: none;
    position: relative;
    padding-bottom: 4px;
    padding-top: 4px;
    padding-left: 14px;
    padding-right: 1px;
    background-color: grey;
    width: 99vw;
    border-bottom: 5px solid lightblue;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

    li{
        display: inline-block;
        position: relative;
        width: 14%;
        align-content: space-between;

        a{
            color:white;
            font-weight: 600;
        a:hover{
                color:red;
            }
        }

    }
}
.principal{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 2px 4px 2px 4px;
    padding: 4px 2px 0px 2px;
    align-content: center;
    justify-content: center;
    
  .principal__titulo{
    text-align: center;
    font-weight: 900;
    position: relative;
    width: 100%;
  }  
  .principal__parrafo{
    align-items: center;
    font-weight: 600;
    display: inline-block;
    position: r;
    width: 50%;
    background-image: url(imagenes/ying%20yang.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
        }
.principal__imagen{
    display: inline-block;
    position: r;
    width: 49%;
    height: 300px;      
}

}

footer{
    display: block;
    position: relative;
    background-color: grey;

    .pie{
        color: white;
        font-weight: 600;
    }
}


